<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886012169879-ld2g0k5d4pskchjvirb9hpjmiq0mlrm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886012169879-ld2g0k5d4pskchjvirb9hpjmiq0mlrm3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_alc7ea_yKsXjW-9zamOtte8Ui75s3Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>886012169879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>javier.com.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-68d59</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-68d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886012169879:ios:0dfb99b7113929e291a3d2</string>
</dict>
</plist>